<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="contenido" class="container mx-auto mt-10 overflow-x-auto">
    <input type="hidden" id="mensaje-alerta" th:value="${mensaje != null ? mensaje : 'NOCARGADO'}">
    <input type="hidden" id="tipo-alerta" th:value="${tipoAlerta != null ? tipoAlerta : 'NOCARGADO'}">
    <!-- Titulo -->
    <h2 class="text-3xl font-bold mb-6 text-gray-700">Gestión de Empleados</h2>

    <!-- Botón para agregar un nuevo empleado -->
    <div class="flex justify-between items-center mb-4">
        <a href="#" onclick="cargarContenido('/guardar-empleado')"
            class="bg-nuevo text-white px-4 py-2 rounded-lg hover:bg-green-800 font-semibold flex items-center space-x-2">
            <i class="fas fa-plus"></i>
            <span>Agregar Empleado</span>
        </a>
        <div class="flex items-center space-x-4 mb-4" >
            <form method="get" th:action="@{/fragmentoEmpleados}" id="FormFiltro" class="flex items-center space-x-2">
                <input id="filtro" type="text" placeholder="Buscar..." name="palabraBuscar" th:value="${palabraBuscar}"
                       class="border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                <button type="button" onclick="enviarBusqueda()"
                        class="bg-nuevo text-white px-4 py-2 rounded hover:bg-green-800">
                    Buscar
                </button>
            </form>
        </div>
    </div>

        <!-- Tabla de empleados -->
        <table class="min-w-full bg-white border border-gray-300">
            <thead>
                <tr class="bg-nuevo text-gray-200">
                    <th class="py-2 px-4 whitespace-nowrap">ID Empleado</th>
                    <th class="py-2 px-4 whitespace-nowrap">Imagen</th>
                    <th class="py-2 px-4 whitespace-nowrap">Nombres</th>
                    <th class="py-2 px-4 whitespace-nowrap">Apellidos</th>
                    <th class="py-2 px-4 whitespace-nowrap">DUI</th>
                    <th class="py-2 px-4 whitespace-nowrap">Teléfono</th>
                    <th class="py-2 px-4 whitespace-nowrap">Cargo</th>
                    <th class="py-2 px-4 whitespace-nowrap">Direccion</th>
                    <th class="py-2 px-4 whitespace-nowrap">Acciones</th>
                </tr>
            </thead>
            <tbody class="text-center font-light">
                <tr class="hover:bg-green-100" th:each="empleado: ${listaEmpleados}">
                    <td class="py-3 px-4 border-b border-r border-l" th:text="${empleado.idEmpleado}"></td>
                    <td class="py-3 px-4 border-b border-r border-l">
                        <img th:src="@{${empleado.urlImagen}}" alt="Imagen de empleado" class="w-8 h-8 object-cover rounded-full mx-auto">
                    </td>
                    <td class="py-3 px-4 border-b border-r border-l" th:text="${empleado.nombreEmpleado}"></td>
                    <td class="py-3 px-4 border-b border-r border-l" th:text="${empleado.apellidoEmpleado}"></td>
                    <td class="py-3 px-4 border-b border-r border-l" th:text="${empleado.duiEmpleado}"></td>
                    <td class="py-3 px-4 border-b border-r border-l" th:text="${empleado.telefonoEmpleado}"></td>
                    <td class="py-3 px-4 border-b border-r border-l" th:text="${empleado.cargo.cargo}"></td>
                    <td class="py-3 px-4 border-b border-r border-l" th:text="${empleado.direccion.linea1}"></td>
                    <td class="py-3 px-4 border-b border-r border-l">
                        <div class="flex items-center justify-center">
                            <!-- Botón para Ver Detalles -->
                            <button th:data-id="${empleado.idEmpleado}"
                                    onclick="abrirModal('empleado', this.getAttribute('data-id'))"
                                    class="bg-nuevo text-white py-2 px-2 m-1 rounded hover:bg-blue-700 font-semibold flex items-center justify-center">
                                <i class="fas fa-eye"></i>
                            </button>

                            <div id="modal" class="hidden fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center">
                                <div class="bg-white rounded-lg shadow-lg p-6 w-96">
                                    <div class="flex justify-between items-center">
                                        <h3 id="modal-title" class="text-lg font-bold"></h3>
                                        <button onclick="closeModal()" class="text-gray-500 hover:text-gray-700">&times;</button>
                                    </div>
                                    <div id="modal-content" class="mt-4 text-sm text-gray-600">
                                        <!-- Este espacio se llenará dinámicamente -->
                                    </div>
                                </div>
                            </div>

                            <!-- Enlace para Actualizaar -->
                            <a href="#" class="text-white py-1 px-2 m-1 rounded hover:bg-yellow-600 font-semibold bg-nuevo"
                               th:data-id="${empleado.idEmpleado}"
                               th:data-action="actualizar-empleado"
                               onclick="cargarContenido('/' + this.getAttribute('data-action') + '/' + this.getAttribute('data-id'))">
                                <i class="fas fa-edit"></i>
                            </a>

                            <!-- Enlace para Eliminar -->
                            <a href="#" class="text-white py-1 px-2 m-1 rounded hover:bg-red-600 font-semibold bg-nuevo"
                               th:data-id="${empleado.idEmpleado}"
                               th:data-action="eliminar-empleado"
                               onclick="cargarContenido('/' + this.getAttribute('data-action') + '/' + this.getAttribute('data-id'))">
                                <i class="fas fa-trash"></i>
                            </a>

                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    <div id="fragmento-paginacion" class="pt-5 flex justify-center space-x-2">
        <button th:if="${currentPage > 0}"
                th:onclick="'cargarContenido(\'/fragmentoEmpleados?page=' + (${currentPage} - 1) + '&size=5\')'"
                class="rounded-md border border-slate-300 py-2 px-3 text-sm text-gray-600 hover:bg-nuevo hover:text-white">
            Anterior
        </button>
        <button th:if="${currentPage < totalPages - 1}"
                th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                th:classappend="${i == currentPage} ? 'bg-nuevo text-white' : 'border-slate-300 text-gray-600 hover:bg-nuevo hover:text-white'"
                th:onclick="'cargarContenido(\'/fragmentoEmpleados?page=' + ${i} + '&size=5\')'"
                class="rounded-md border py-2 px-3 text-sm">
            <span th:text="${i + 1}"></span>
        </button>
        <button th:if="${currentPage < totalPages - 1}"
                th:onclick="'cargarContenido(\'/fragmentoEmpleados?page=' + (${currentPage} + 1) + '&size=5\')'"
                class="rounded-md border border-slate-300 py-2 px-3 text-sm text-gray-600 hover:bg-nuevo hover:text-white">
            Siguiente
        </button>
    </div>
</div>