<div th:fragment="contenido" class="container bg-white/65 rounded-lg py-6 px-6 shadow-md">
   <!-- Titulo de la Vista-->
   <h2 class="text-3xl font-bold mb-6 text-gray-700 text-left">Listado de Ventas</h2>

   <!-- Filtro Para Búsqueda Rápida -->
   <div class="flex justify-end items-center mb-2">
      <div class="flex items-center space-x-4 mb-4">
         <input id="filtro-texto" type="text" placeholder="Buscar cliente..."
            class="border border-gray-300 rounded-lg px-4 py-2" />
         <button class="bg-gray-500 p-2 text-gray-50 rounded-md">Buscar</button>
      </div>
   </div>

   <!-- Listado de Ventas -->
   <table class="min-w-full bg-white border border-gray-300">
      <thead>
         <tr class="bg-nuevo text-gray-200">
            <th class="py-2 px-4 whitespace-nowrap">ID Venta</th>
            <th class="py-2 px-4 whitespace-nowrap">Cliente</th>
            <th class="py-2 px-4 whitespace-nowrap">Atendido</th>
            <th class="py-2 px-4 whitespace-nowrap">Fecha y Hora</th>
            <th class="py-2 px-4 whitespace-nowrap">Método de Pago</th>
            <th class="py-2 px-4 whitespace-nowrap">Total</th>
            <th class="py-2 px-4 whitespace-nowrap">Acciones</th>
         </tr>
      </thead>
      <tbody class="text-center font-light">
         <tr class="hover:bg-green-100" th:each="venta : ${listaVentas}">
            <td class="py-3 px-4 border-b border-r border-l" th:text="${venta.idVenta}"></td>
            <td class="py-3 px-4 border-b border-r border-l" th:text="${venta.cliente.nombresCliente}"></td>
            <td class="py-3 px-4 border-b border-r border-l" th:text="${venta.empleado.nombreEmpleado}"></td>
            <td class="py-3 px-4 border-b border-r border-l" th:text="${venta.facturaVenta.fechaHoraFacturacion}"></td>
            <td class="py-3 px-4 border-b border-r border-l" th:text="${venta.facturaVenta.metodoPago.nombreMetodo}"></td>
            <td class="py-3 px-4 border-b border-r border-l" th:text="${venta.totalVenta}"></td>
            <td class="py-3 px-4 border-b border-r border-l">
               <div class="flex items-center justify-center">

                  <!-- Botón para ver más Detalles -->
                  <a href="#" class="text-white py-1 px-2 m-1 rounded hover:bg-yellow-600 font-semibold bg-nuevo"
                     th:data-id="${venta.idVenta}"
                     th:data-action="detalleVenta"
                     onclick="cargarContenido('/' + this.getAttribute('data-action') + '/' + this.getAttribute('data-id'))">
                     <i class="fas fa-edit"></i>
                  </a>

                  <a href="#" th:href="@{/facturas/descargar/{idVenta}(idVenta=${venta.idVenta})}"
                     class="text-white py-1 px-2 m-1 rounded hover:bg-yellow-600 font-semibold bg-nuevo">
                     <i class="fas fa-download"></i> Descargar Factura
                  </a>

               </div>
            </td>
         </tr>
      </tbody>
   </table>

   <!-- Ventana modal para ver más detalles -->
   <div th:insert="Plantilla :: ventanaModal"></div>
</div>


<!--
<a href="#" class="text-white py-1 px-3 m-1 rounded hover:bg-yellow-600 font-semibold bg-nuevo">
   <i class=" fas fa-file"></i>
</a>
-->