<link rel="stylesheet" th:href="@{./css/ventas.css}" xmlns:th="http://www.w3.org/1999/xhtml">
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-body pt-0">
                <div class="row">
                    <div class="col-8">
                        <strong>MEDICAMENTOS DISPONIBLES</strong>
                    </div>
                    <div class="col-4 form-group">
                        <label for="" class="small text-black">Realizar busqueda</label>
                        <input type="text" class="form-control buscador-medicamentos">
                    </div>
                </div>

                <div class="row mt-3" id="listadoMedicamentos">
                    <div class="col-4 mb-3"
                        th:each="item : ${listaMedicamentos}">
                        <div class="card cursor item-medicamento"
                            th:medicamento="${ item.idMedicamentos }"
                            th:precio="${ item.precioVenta }"
                            th:disponibles="${ item.inventario.cantidadStock }">

                            <div class="card-body p-1">
                                <div class="d-flex justify-content-center bg-image">
                                    <img th:src="${item.urlImagen}"
                                     alt="imagen-del-medicamento" class="img-medicamento">
                                </div>
                                <div><strong class="nombre-medicamento text-center" th:text="${ item.nombreMedicamento }"></strong></div>
                                <div class="small texto-truncado descripcion-medicamento" th:text="${ item.descripcionMedicamento }"></div>
                                <hr class="mt-0 mb-2">

                                <div class="row">
                                    <div class="col-6 text-center small">
                                        Precio:
                                        <br>
                                        $ <span th:text="${ item.precioVenta }"></span>
                                    </div>
                                    <div class="col-6 text-center small">
                                        Cantidad:
                                        <br>
                                        <span th:text="${ item.inventario.cantidadStock }"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form class="col-4"
            id="FormVenta" method="POST" th:action="@{/guardarVenta}">
        <div class="card">
            <div class="card-body listado-ventas">
                <div>Listado de medicamentos</div>

                <div id="lstMedicamentos" class=" p-2">
                </div>
                
                <table class="table table-bordered mt-2">
                    <tbody>
                        <tr>
                            <td colspan="2">
                                <label for="" class="text-blac small">Cliente</label>
                                <select name="idCliente" id="idCliente" class="form-control">
                                    <option th:each="cliente : ${listaCliente}" th:value="${ cliente.idCliente }" th:text='${ cliente.nombresCliente + " " + cliente.apellidosCliennte }' >Seleccionar</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Total:</strong></td>
                            <td>
                                <input type="hidden" name="totalVenta" class="subtotal-venta" value="0">
                                $ <span id="totalVenta">0.00</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="text-center">
                                <button class="btn btn-success col-12" type="button"
                                onclick="guardar_registros('FormVenta')">
                                   <i class="fas fa-save"></i> &nbsp; Guardar venta
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div>

<div hidden id="itemVenta">
    <div class="card card-content card-body pt-0 pb-0 mb-3">
        <input type="hidden" name="detalleVenta[]['precioUnitario']" value=""
         class="precio-unitario">

        <input type="hidden" name="detalleVenta[]['idMedicamento']" value=""
         class="registro-medicamento">

        <div class="row">
            <div class="col-4 p-0">
                <div class="text-center m-auto bg-image pb-0">
                    <img src="" alt="imagen-del-medicamento" class="img-compra bg-image">
                </div>
            </div>
            <div class="col-8 p-0">
                <div class="nombre-medicamento text-center"><strong></strong></div>

                <div class="row">
                    <div class="col-5 align-middle">
                        <div class="text-center small text-black">$ <span class="precioUnitario"></span></div>
                        <input type="hidden" name="detalleVenta[]['subTotalVenta']" class="precio-total"
                        value="">
                    </div>
    
                    <div class="col-5">
                        <input type="number" name="detalleVenta[]['cantidadVendida']"
                        class="form-control cantidad-vendida" value="1" min="1">
                    </div>
                </div>
            </div>
            
            <div class="col-4">
                <div class="text-center small">Precio:<br> $<span class="precio"></span></div>
            </div>

            <div class="col-8 row mt-2 btns-item-compra">
                <button class="btn btn-danger col-4 p-1 btn-restar align-middle" type="button">
                    <i class="fas fa-minus btn-restar"></i>
                </button>
                
                <button class="btn btn-success col-4 p-1 btn-sumar align-middle" type="button">
                    <i class="fas fa-plus btn-sumar"></i>
                </button>

                <button class="btn btn-danger col-4 p-1 btn-eliminar" type="button">
                    <i class="fas fa-trash btn-eliminar"></i>
                </button>
            </div>
        </div>
    </div>
</div>