<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="_csrf" th:content="${_csrf.token}"/>
   <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.0.2/dist/tailwind.min.css" rel="stylesheet">
   <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
   <link rel="stylesheet" th:href="@{./css/output.css}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   <title>Dashboard</title>

   <style>
      .alert-container {
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente (si el contenedor es alto) */
        margin: 20px auto; /* Espaciado automático */
        max-width: 400px; /* Limita el ancho de la alerta */
      }
   </style>
</head>

<body class="text-gray-800 font-inter flex flex-col min-h-screen">

<div class="alert-container fixed top-5 right-5 z-50 hidden" id="alerta1" style="display: none;">
   <div class="flex items-center justify-between p-5 leading-normal text-green-600 bg-green-100 rounded-lg shadow-lg "  role="alert">
      <p id="alerta-mensaje1"></p>
      <svg onclick="return this.parentNode.parentNode.remove();" class="inline w-4 h-4 fill-current ml-2 hover:opacity-80 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
         <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7 0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208S370.7 464 256 464zM359.5 133.7c-10.11-8.578-25.28-7.297-33.83 2.828L256 218.8L186.3 136.5C177.8 126.4 162.6 125.1 152.5 133.7C142.4 142.2 141.1 157.4 149.7 167.5L224.6 256l-74.88 88.5c-8.562 10.11-7.297 25.27 2.828 33.83C157 382.1 162.5 384 167.1 384c6.812 0 13.59-2.891 18.34-8.5L256 293.2l69.67 82.34C330.4 381.1 337.2 384 344 384c5.469 0 10.98-1.859 15.48-5.672c10.12-8.562 11.39-23.72 2.828-33.83L287.4 256l74.88-88.5C370.9 157.4 369.6 142.2 359.5 133.7z"></path>
      </svg>
   </div>
</div>

<div class="alert-container fixed top-5 right-5 z-50 hidden" id="alerta2" style="display: none;">
   <div class="flex items-center justify-between p-5 leading-normal text-blue-600 bg-blue-100 rounded-lg shadow-lg "  role="alert">
      <p id="alerta-mensaje2"></p>
      <svg onclick="return this.parentNode.parentNode.remove();" class="inline w-4 h-4 fill-current ml-2 hover:opacity-80 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
         <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7 0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208S370.7 464 256 464zM359.5 133.7c-10.11-8.578-25.28-7.297-33.83 2.828L256 218.8L186.3 136.5C177.8 126.4 162.6 125.1 152.5 133.7C142.4 142.2 141.1 157.4 149.7 167.5L224.6 256l-74.88 88.5c-8.562 10.11-7.297 25.27 2.828 33.83C157 382.1 162.5 384 167.1 384c6.812 0 13.59-2.891 18.34-8.5L256 293.2l69.67 82.34C330.4 381.1 337.2 384 344 384c5.469 0 10.98-1.859 15.48-5.672c10.12-8.562 11.39-23.72 2.828-33.83L287.4 256l74.88-88.5C370.9 157.4 369.6 142.2 359.5 133.7z"></path>
      </svg>
   </div>
</div>

<div class="alert-container fixed top-5 right-5 z-50 hidden" id="alerta3" style="display: none;">
   <div class="flex items-center justify-between p-5 leading-normal text-red-600 bg-red-100 rounded-lg shadow-lg "  role="alert">
      <p id="alerta-mensaje3"></p>
      <svg onclick="return this.parentNode.parentNode.remove();" class="inline w-4 h-4 fill-current ml-2 hover:opacity-80 cursor-pointer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
         <path d="M256 0C114.6 0 0 114.6 0 256s114.6 256 256 256s256-114.6 256-256S397.4 0 256 0zM256 464c-114.7 0-208-93.31-208-208S141.3 48 256 48s208 93.31 208 208S370.7 464 256 464zM359.5 133.7c-10.11-8.578-25.28-7.297-33.83 2.828L256 218.8L186.3 136.5C177.8 126.4 162.6 125.1 152.5 133.7C142.4 142.2 141.1 157.4 149.7 167.5L224.6 256l-74.88 88.5c-8.562 10.11-7.297 25.27 2.828 33.83C157 382.1 162.5 384 167.1 384c6.812 0 13.59-2.891 18.34-8.5L256 293.2l69.67 82.34C330.4 381.1 337.2 384 344 384c5.469 0 10.98-1.859 15.48-5.672c10.12-8.562 11.39-23.72 2.828-33.83L287.4 256l74.88-88.5C370.9 157.4 369.6 142.2 359.5 133.7z"></path>
      </svg>
   </div>
</div>


   <!-- Sidebar -->
   <div class="fixed left-0 top-0 w-64 h-full bg-nuevo p-4 z-50 sidebar-menu transition-transform font-medium">
      <a href="/index" class="flex items-center pb-4 border-b border-b-gray-800">
         <img src="/img/logoFarmacia.svg" alt="Icono Farmacia" class="w-8 h-8 rounded object-cover">
         <span class="text-lg font-bold text-white ml-4">FarmaLink</span>
      </a>
      <ul class="mt-4">

         <!-- Dashboard -->
         <li>
            <a href="#" onclick="mostrarDashboard()" class="text-gray-300 text-sm hover:text-gray-100">
               <i class="ri-dashboard-line mr-3 text-lg"></i>Dashboard
            </a>
         </li>


         <!-- Gestión de Empleados -->
         <li class="mb-1 group">
            <a href="#"
               class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
               <i class="ri-team-line mr-3 text-lg"></i> <span class="text-sm">Gestión de Empleados</span>
               <i class="ri-arrow-right-s-line ml-auto"></i>
            </a>
            <ul class="pl-7 mt-2 hidden group-[.active]:block">
               <li><a href="#" onclick="cargarContenido('/fragmentoEmpleados')"
                     class="text-gray-300 text-sm hover:text-gray-100">Empleados</a></li>
            </ul>
         </li>

         <!-- Gestión de Compras -->
         <li class="mb-1 group">
            <a href="#"
               class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
               <i class="ri-shopping-bag-3-line mr-3 text-lg"></i> <span class="text-sm">Gestión de Compras</span>
               <i class="ri-arrow-right-s-line ml-auto"></i>
            </a>
            <ul class="pl-7 mt-2 hidden group-[.active]:block">
               <li><a href="#" onclick="cargarContenido('/fragmentoCategorias')"
                     class="text-gray-300 text-sm hover:text-gray-100">Categorías</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoMarcas')"
                     class="text-gray-300 text-sm hover:text-gray-100">Marcas</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoPresentacionMedicamentos')"
                     class="text-gray-300 text-sm hover:text-gray-100">Presentaciones de Medicamentos</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoMedicamentos')"
                     class="text-gray-300 text-sm hover:text-gray-100">Medicamentos</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoLaboratorios')"
                     class="text-gray-300 text-sm hover:text-gray-100">Laboratorios</a></li>
            </ul>
         </li>

         <!-- Gestión de Ventas -->
         <li class="mb-1 group">
            <a href="#"
               class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
               <i class="ri-hand-coin-line mr-3 text-lg"></i> <span class="text-sm">Gestión de Ventas</span>
               <i class="ri-arrow-right-s-line ml-auto"></i>
            </a>
            <ul class="pl-7 mt-2 hidden group-[.active]:block">
               <li><a href="#" onclick="cargarContenido('/fragmentoClientes')"
                     class="text-gray-300 text-sm hover:text-gray-100">Clientes</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoVentas')"
                     class="text-gray-300 text-sm hover:text-gray-100">Ventas</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoDetallesVentas')"
                      class="text-gray-300 text-sm hover:text-gray-100">Detalles de Venta</a></li>
            </ul>
         </li>

         <!-- Gestión de Usuarios y Roles -->
         <li class="mb-1 group">
            <a href="#"
               class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
               <i class="ri-user-settings-line mr-3 text-lg"></i> <span class="text-sm">Gestión de Usuarios y
                  Roles</span>
               <i class="ri-arrow-right-s-line ml-auto"></i>
            </a>
            <ul class="pl-7 mt-2 hidden group-[.active]:block">
               <li><a href="#" onclick="cargarContenido('/fragmentoUsuario')"
                     class="text-gray-300 text-sm hover:text-gray-100">- Usuarios</a></li>
            </ul>
         </li>
      </ul>
   </div>

   <!-- Área para el contenido principal -->
   <main class="w-full md:w-[calc(100%-256px)] md:ml-64 bg-gray-50 min-h-screen transition-all main">
      <div
         class="py-2 px-6 bg-white flex items-center justify-between shadow-md shadow-black/5 sticky top-0 left-0 z-30">
         <div class="flex items-center">
            <button type="button" class="text-lg text-gray-600 sidebar-toggle">
               <i class="ri-menu-line"></i>
            </button>
            <ul class="flex items-center text-sm ml-4">
               <li class="mr-2">
                  <a href="#" class="text-gray-400 hover:text-gray-600 font-medium">Dashboard</a>
               </li>
            </ul>
         </div>
         <div class="flex items-center space-x-4">
                <span class="text-sm text-gray-500">
                    <span sec:authorize="isAuthenticated()">
                        User: <span th:text="${#authentication.principal.username}"></span>
                    </span>
                    <span sec:authorize="isAnonymous()">
                        Invitado
                    </span>
                </span>
               <a sec:authorize="isAuthenticated()" th:href="@{/logout}"
                  class="text-red-500 hover:text-red-700 text-sm font-medium">Cerrar Sesión</a>
               <a sec:authorize="isAnonymous()" th:href="@{/login}"
                  class="text-blue-500 hover:text-blue-700 text-sm font-medium">Iniciar Sesión</a>
         </div>
      </div>

      <!-- Contenedor del contenido dinámico -->
      <div id="contenido-principal" class="p-6 font-medium flex items-center justify-center text-center">
         <img src="https://svgsilh.com/svg/312139-046c4e.svg" alt="logoFarmacia" srcset="" width="312px" height="280px">
      </div>

   </main>
   <script src="../js/menu.js"></script>
   <script src="../js/contenidoPanel.js"></script>
   <script src="../js/ventanasModales.js"></script>
   <script src="../js/ventas.js"></script>
   <script src="../js/filtrado.js"></script>
</body>

</html>