<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="_csrf" th:content="${_csrf.token}"/>
   <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
   <link rel="stylesheet" th:href="@{./css/output.css}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
   <title>Dashboard</title>
</head>

<body class="text-gray-800 font-inter flex flex-col min-h-screen">

   <!-- Sidebar -->
   <div class="fixed left-0 top-0 w-64 h-full bg-nuevo p-4 z-50 sidebar-menu transition-transform">
      <a href="#" class="flex items-center pb-4 border-b border-b-gray-800">
         <img src="https://placehold.co/32x32" alt="" class="w-8 h-8 rounded object-cover">
         <span class="text-lg font-bold text-white ml-3">Farmacia</span>
      </a>
      <ul class="mt-4">

         <!-- Dashboard -->
         <li>
            <a href="#" onclick="mostrarDashboard()" class="text-gray-300 text-sm hover:text-gray-100">
               <i class="ri-dashboard-line mr-3 text-lg"></i>Dashboard
            </a>
         </li>


         <!-- Gestión de Empleados -->
         <li class="mb-1 group">
            <a href="#"
               class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
               <i class="ri-team-line mr-3 text-lg"></i> <span class="text-sm">Gestión de Empleados</span>
               <i class="ri-arrow-right-s-line ml-auto"></i>
            </a>
            <ul class="pl-7 mt-2 hidden group-[.active]:block">
               <li><a onclick="cargarContenido('/fragmentoEmpleados')"
                     class="text-gray-300 text-sm hover:text-gray-100">Empleados</a></li>
               <li><a href="" onclick="cargarContenido('/fragmentoSucursales')"
                     class="text-gray-300 text-sm hover:text-gray-100">Sucursales</a></li>
            </ul>
         </li>

         <!-- Gestión de Compras -->
         <li class="mb-1 group">
            <a href="#"
               class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
               <i class="ri-shopping-bag-3-line mr-3 text-lg"></i> <span class="text-sm">Gestión de Compras</span>
               <i class="ri-arrow-right-s-line ml-auto"></i>
            </a>
            <ul class="pl-7 mt-2 hidden group-[.active]:block">
               <li><a href="#" onclick="cargarContenido('/fragmentoCategorias')"
                     class="text-gray-300 text-sm hover:text-gray-100">Categorías</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoMarcas')"
                     class="text-gray-300 text-sm hover:text-gray-100">Marcas</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoPresentacionesMedicamentos')"
                     class="text-gray-300 text-sm hover:text-gray-100">Presentaciones de Medicamentos</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoInventario')"
                     class="text-gray-300 text-sm hover:text-gray-100">Inventario</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoMedicamentos')"
                     class="text-gray-300 text-sm hover:text-gray-100">Medicamentos</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoCompras')"
                     class="text-gray-300 text-sm hover:text-gray-100">Compras</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoLaboratorios')"
                     class="text-gray-300 text-sm hover:text-gray-100">Laboratorios</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoFacturasCompra')"
                     class="text-gray-300 text-sm hover:text-gray-100">Facturas de Compra</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoDetallesCompra')"
                     class="text-gray-300 text-sm hover:text-gray-100">Detalles de Compra</a></li>
            </ul>
         </li>

         <!-- Gestión de Ventas -->
         <li class="mb-1 group">
            <a href="#"
               class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
               <i class="ri-hand-coin-line mr-3 text-lg"></i> <span class="text-sm">Gestión de Ventas</span>
               <i class="ri-arrow-right-s-line ml-auto"></i>
            </a>
            <ul class="pl-7 mt-2 hidden group-[.active]:block">
               <li><a href="#" onclick="cargarContenido('/fragmentoMetodosPago')"
                     class="text-gray-300 text-sm hover:text-gray-100">Métodos de Pago</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoFacturasVenta')"
                     class="text-gray-300 text-sm hover:text-gray-100">Facturas de Venta</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoClientes')"
                     class="text-gray-300 text-sm hover:text-gray-100">Clientes</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoVentas')"
                     class="text-gray-300 text-sm hover:text-gray-100">Ventas</a></li>
               <li><a href="#" onclick="cargarContenido('/fragmentoDetallesVenta')"
                     class="text-gray-300 text-sm hover:text-gray-100">Detalles de Venta</a></li>
            </ul>
         </li>

         <!-- Gestión de Direcciones -->
         <li class="mb-1 group">
            <a href="#"
               class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
               <i class="ri-map-pin-line mr-3 text-lg"></i> <span class="text-sm">Gestión de Direcciones</span>
               <i class="ri-arrow-right-s-line ml-auto"></i>
            </a>
            <ul class="pl-7 mt-2 hidden group-[.active]:block">
               <li><a href="#" onclick="cargarContenido('/fragmentoDirecciones')"
                     class="text-gray-300 text-sm hover:text-gray-100">Direcciones</a></li>
            </ul>
         </li>

         <!-- Gestión de Usuarios y Roles -->
         <li class="mb-1 group">
            <a href="#"
               class="flex items-center py-2 px-4 text-gray-300 hover:bg-gray-950 hover:text-gray-100 rounded-md sidebar-dropdown-toggle">
               <i class="ri-user-settings-line mr-3 text-lg"></i> <span class="text-sm">Gestión de Usuarios y
                  Roles</span>
               <i class="ri-arrow-right-s-line ml-auto"></i>
            </a>
            <ul class="pl-7 mt-2 hidden group-[.active]:block">
               <li><a href="#" onclick="cargarContenido('/ConfiguracionUsuarios')"
                     class="text-gray-300 text-sm hover:text-gray-100">Usuarios</a></li>
               <li><a href="#" onclick="cargarContenido('/ConfiguracionRoles')"
                     class="text-gray-300 text-sm hover:text-gray-100">Roles</a></li>
               <li><a href="#" onclick="cargarContenido('/ConfiguracionRoles')"
                     class="text-gray-300 text-sm hover:text-gray-100">Opciones</a></li>
               <li><a href="#" onclick="cargarContenido('/ConfiguracionRoles')"
                     class="text-gray-300 text-sm hover:text-gray-100">Asignación de Roles y Opciones</a></li>
            </ul>
         </li>
      </ul>
   </div>

   <!-- Área para el contenido principal -->
   <main class="w-full md:w-[calc(100%-256px)] md:ml-64 bg-gray-50 min-h-screen transition-all main">
      <div
         class="py-2 px-6 bg-white flex items-center justify-between shadow-md shadow-black/5 sticky top-0 left-0 z-30">
         <div class="flex items-center">
            <button type="button" class="text-lg text-gray-600 sidebar-toggle">
               <i class="ri-menu-line"></i>
            </button>
            <ul class="flex items-center text-sm ml-4">
               <li class="mr-2">
                  <a href="#" class="text-gray-400 hover:text-gray-600 font-medium">Dashboard</a>
               </li>
            </ul>
         </div>
         <div class="flex items-center space-x-4">
            <span class="text-sm text-gray-500">User: UserName</span>
            <a href="#" class="text-red-500 hover:text-red-700 text-sm font-medium">Cerrar Sesión</a>
         </div>
      </div>

      <!-- Contenedor del contenido dinamico -->
      <div id="contenido-principal" class="p-6">
         <h2 class="text-2xl font-semibold mb-4">Contenido Principal</h2>
         <p>Esta área es para el contenido principal del panel...</p>
      </div>
   </main>
   <script src="../js/menu.js"></script>
   <script src="../js/contenidoPanel.js"></script>
   <script>
      function validarFormularioYEnviar() {
          const form = document.getElementById('empleadoForm');
          if (form.checkValidity()) {
              form.submit();
              cargarContenido('/fragmentoEmpleados')
          } else {
              form.reportValidity();
          }
      }
   </script>
</body>
</html>